@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: "Raleway", sans-serif;
}

/*------------------------Header---------------------------*/
#header {
  text-align: center;

}

/*---------------------------------------------------------*/

/*---------------------nav-bar-----------------------------*/

#nav-bar-menu {
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
}

#nav-bar-menu button {
  border: 0px;
  background: transparent;
  font-family : inherit;
  font-size: 15px;
  color: white;
  padding: 10px;
  margin-left: 25px;
  cursor: pointer;
}
#nav-bar-menu button:hover {
background-color: black;
}

#nav-bar-options {
  margin-left: 50px;
  background-color: #858585;
  border-radius: 5px;
  display: flex;
  height: 65px;
}
#nav-bar-options img{
  width: 20px;
  height: 30px;
}

#nav-bar-options button {
  border: 0px;
  background: transparent;
  font-family : inherit;
  font-size: 15px;
  color: white;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
}
#nav-bar-options button:hover {
  background-color: #616161;
}

#labelOctave{
  margin: 0px 10px 10px 10px;
  padding: 22px 5px 0px 0px;
  color: white;
  font-family: inherit;
}

#nav-bar-options input {
  padding-top: 15;

  background-color: #858585;
  border: 0;
  color: white;
  font-family: inherit;

  text-align: center;


  -webkit-appearance: none;
  -moz-appearance: none;
}

#nav-bar-options-measure img {
  width: 50px;
  height: 50px;

  margin: 10px 0px 10px 10px;
}

#nav-bar-options-measure select {
  padding: 10px 10px 10px 0px;
  margin: 10px 10px 10px 0px;
  background-color: #858585;
  border: 0;
  color: white;
  font-family: inherit;


  -webkit-appearance: none;
  -moz-appearance: none;
}



.container {
  display: flex;
  text-align: center;
}
.option {
  cursor: pointer;
}

.arrow{

}

.arrowRotate{
  transform: rotate(360deg);
  transition: transform 1s linear;
}

.divider {
  border-right:1px solid #16222c; 
}

.dividerBlurred {
  border-right:2px solid #7e7d7d; 
}

#prolongation img {
  height: 25px;
  width: 35px;
}
#prolongation button {
  height: 65px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*---------------------------------------------------------*/



/*---------------------Zoom Image---------------------------*/
input[type=checkbox] {
  display: none;
}
#img-score {
  text-align: center;
  margin-bottom: 20px;
}

#img-score img {
  margin-top: 35px;
  transition: transform 0.25s ease;
  cursor: zoom-in;

  width: 800px;
  height: 300px;

}
#img-score button {
  margin:20px;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(2.3);
  cursor: zoom-out;
}
/*---------------------------------------------------------*/


/*------------------Arrows Next/Previous-------------------*/
#img-score button {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 35px;
  width: 40px;
  text-align: center;
}

#img-score button:disabled {
  background-color: #acacac;
}
.back:hover {
  background-color: black;
}
.next:hover {
  background-color: black;
}
.back {
  border-radius: 50%;
  background-color: rgb(49, 49, 49);
  color: white;
}
.next {
  border-radius: 50%;
  background-color: rgb(49, 49, 49);
  color: white;
}
/*---------------------------------------------------------*/

/*-----------------------Partitura-------------------------*/
#partitura {
  margin-bottom: 50px;
}
/*---------------------------------------------------------*/

/*--------------------Measure Navigator--------------------*/
#buttonsNavigator {
  text-align: center;
}
#buttonsNavigator button {
  width: 210px;
  margin-right: 50px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(49, 49, 49);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

#buttonsNavigator button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#buttonsNavigator button:hover {
  background-color: black
}
/*---------------------------------------------------------*/