@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: "Raleway", sans-serif;
  background-image: url("../img/background.jpeg");
  background-size: cover;
}

a {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

/*---------------------------------------------------------*/
.container {
  margin-top: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: repeat(auto-fill, 400px);
  grid-row-gap: .5em;
  grid-column-gap: 1em;
}
/*---------------------------------------------------------*/

/*--------------------------Login--------------------------*/

.form {
  text-align: center;
  color: white;
}

.form input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: rgb(39, 39, 39);;
}

.form button {
  background-color: rgb(49, 49, 49);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 500px;
}
.form button:hover {
  background-color: rgb(39, 39, 39);
}
.form button:disabled {
  background-color: #acacac;
}

.form img {
  margin: 25px;
}
.form input {
  background-color: white;
}

#errorSF { 
  color: white; 
  text-align: center;
  margin: 150px;
  font-size: 25px;
}


#logOut{
  text-decoration: none;
  margin: 10px 30px 5px 5px;
  padding: 25px;
  float: right;
  font-size: 20px;
  border-radius: 25px;
  background-color: rgb(49, 49, 49);
  color: white;
}
#logOut:hover {
  background-color: rgb(39, 39, 39);
}


/*---------------------------------------------------------*/

/*------------------ProjectManager-------------------------*/
#home {
  float: left;
}
#home img{
  width: 100px;
}

#headerProjects{
  width: 50%;
  font-weight: 100;
  font-size: 50px;
  border-bottom: solid 5px;
  border-top: solid 5px;
  color: ivory;
  padding: 5px;
}

.project {
  color: white;
  background-color: rgb(49, 49, 49);
  padding: 20px;
  border: solid 5px;
  border-style: solid;
  border-radius: 5px;
}
.project:hover {
  background-color: rgb(39, 39, 39);

}
#projectFiles img {
  width: 200px;
  height: 200px;
}

#projectName {
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
}
.centerContent {
  display: flex;
  justify-content: center;
}
#projectManager {
  text-align: center;
}

#addProject {
  font-size: 250px;
}
#textAddProject {
  font-size: 30px;
  font-style: italic;
}
/*---------------------------------------------------------*/

/*---------------------------------------------------------*/

/*---------------------nav-bar-----------------------------*/
#nav-bar {
  margin-top: 20px;
}

#nav-bar button:disabled {
  background-color: #f75252;
}

#nav-bar-menu {
  width: 85%;
  margin-left: 105px;
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
}

#nav-bar-menu button {
  border: 0px;
  background: transparent;
  font-family : inherit;
  font-size: 15px;
  color: white;
  padding: 10px;
  margin-left: 25px;
  cursor: pointer;
}
#nav-bar-menu button:hover {
background-color: rgb(39, 39, 39);
}

#nav-bar-options {
  width: 83.35%;
  margin-left: 135px;
  background-color: #858585;
  border-radius: 5px;
  display: flex;
  height: 65px;
}
#nav-bar-options img{
  width: 20px;
  height: 30px;
}

#nav-bar-options button {
  border: 0px;
  background: transparent;
  font-family : inherit;
  font-size: 15px;
  color: white;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
}
#nav-bar-options button:hover {
  background-color: #616161;
}

#labelOctave{
  margin: 0px 10px 10px 10px;
  padding: 22px 5px 0px 0px;
  color: white;
  font-family: inherit;
}

#nav-bar-options input {
  padding-top: 15;

  background-color: #858585;
  border: 0;
  color: white;
  font-family: inherit;

  text-align: center;


  -webkit-appearance: none;
  -moz-appearance: none;
}

#nav-bar-options-measure img {
  width: 50px;
  height: 50px;

  margin: 10px 0px 10px 10px;
}

#nav-bar-options-measure select {
  padding: 10px 10px 10px 0px;
  margin: 10px 10px 10px 0px;
  background-color: #858585;
  border: 0;
  color: white;
  font-family: inherit;


  -webkit-appearance: none;
  -moz-appearance: none;
}

.containerNavBar {
  display: flex;
  text-align: center;
}
.option {
  cursor: pointer;
}

.arrowRotate{
  transform: rotate(360deg);
  transition: transform 1s linear;
}

.divider {
  border-right:1px solid #16222c; 
}

.dividerBlurred {
  border-right:2px solid #7e7d7d; 
}

#prolongation img {
  height: 25px;
  width: 35px;
}
#prolongation button {
  height: 65px;
}

#deleteNote {
  font-size: 20px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*---------------------------------------------------------*/



/*---------------------Zoom Image---------------------------*/
input[type=checkbox] {
  display: none;
}

#img-score {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

#img-score img {
  display: block;
  margin: 0 auto;

  transition: transform 0.25s ease;
  cursor: zoom-in;

  width: 700px;
  height: 200px;

  border: solid #313131 10px;
  border-radius: 5px;

}


input[type=checkbox]:checked ~ label > img {
  transform: scale(2.7);
  border: none;
  cursor: zoom-out;
}
/*---------------------------------------------------------*/


/*------------------Arrows Next/Previous-------------------*/
#img-score button {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 35px;
  width: 40px;
  text-align: center;
}

#img-score button:disabled {
  background-color: #acacac;
}
.back:hover {
  background-color: rgb(39, 39, 39);;
}
.next:hover {
  background-color: rgb(39, 39, 39);;
}
.back {
  margin-right: 750px;
  border-radius: 50%;
  background-color: rgb(49, 49, 49);
  color: white;
}
.next {
  border-radius: 50%;
  background-color: rgb(49, 49, 49);
  color: white;
}
/*---------------------------------------------------------*/

/*--------------------ErrorScore---------------------------*/
#errors-score {
  text-align: center;
}
#windowError {
  display: inline-block;
  text-align: center;
  padding: 15px 15px 0px 15px;
  background: white;
  margin: 5px;
  border: solid #313131 3px;
  border-radius: 5px;
}
/*---------------------------------------------------------*/


/*-----------------------Partitura-------------------------*/
#partitura {
  margin-bottom: 50px;
}

#score {
  background-color: white;
  border-radius: 25px;
}
/*---------------------------------------------------------*/

/*--------------------Measure Navigator--------------------*/
#buttonsNavigator {
  text-align: center;

  position: fixed;
  height: 60px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: white;
}
#buttonsNavigator button {
  width: 210px;
  margin-right: 50px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(49, 49, 49);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

#buttonsNavigator button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#buttonsNavigator button:hover {
  background-color: rgb(39, 39, 39);
}
/*---------------------------------------------------------*/



/*--------------------------Footer-------------------------*/
#footer {
  text-align: center;
  color: white;
  position: fixed;
  height: 50px;
  background-color: rgb(49, 49, 49);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

/*---------------------------------------------------------*/